@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

#mainContainer
{
    background-color: #222;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3em;
    height: 100%;
    width: 100%;
}

#flasherLogo
{
    height: 3.5em;
}

.step-section
{
    width: 40%;
    border-radius: 1em;
    padding: 2em;
    background-color: #444;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

#progressSection
{
    display: none;
}

button, .button
{
    border: white solid 1px;
    color: white;
    background-color: transparent;
    font-size: 1.5em;
    padding: 0.5em 0.75em 0.5em 0.75em;
    border-radius: 0.25em;
}

button:hover, .button:hover
{
    background-color: white;
    color: black;
    cursor: pointer;
}

progress
{
    accent-color: skyblue;
}

.progress-complete
{
    accent-color:greenyellow;
}

.progress-fail
{
    accent-color:red;
}